.App {
  text-align: center;
  display: flex;
  font-family: 'Raleway', sans-serif !important;
  background-image: url("./assets/DarkPalms3.jpg");
  background-size: cover;
  color: #b8d6ca;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #404E5C; */
  min-height: 100vh;
  min-width: calc(100vw - 175px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  font-weight: lighter;
  font-size: 28pt;
}

h3 {
  font-weight: lighter;
}

.nav {
  width: 175px;
  display: flex;
  flex-direction: column;
  color: #b8d6ca;
  /* border-right: 1pt solid #B7D1DA */
  font-family: 'Raleway', sans-serif;
}

.bar {
    margin-top: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 18pt;
}

.nav-link {
  color: #b8d6ca;
  text-decoration: none;
  width: fit-content;
  height: fit-content;  
}

.nav-item:hover {
  transform: scale(1.3);
}

.landing {
  min-width: calc(100vw - 175px);
  font-size: 24pt;
  font-weight: lighter;
}

.about {
  min-width: calc(100vw - 175px);
}

.projects {
  min-width: calc(100vw - 175px);
}


/* .contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: calc(100vw - 175px);
}

.contact-info {
  margin-top: 150px;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.info-links {
  display: flex;
  justify-content: space-around;
  width: 500px;
}